<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1050" key="a44e7e67-77bf-4642-a173-df35451c9378" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-11-03T13:53:26" updateDate="2015-11-03T13:53:26" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1049" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1048" nodeTypeAlias="Home">
    <Textpage id="1053" key="710c052a-9dbf-465c-90b7-ecf058c21c88" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2015-11-03T14:06:13" updateDate="2015-11-03T14:06:13" nodeName="About" urlName="about" path="-1,1050,1053" isDoc="" nodeType="1052" creatorName="Ronnie Møller" writerName="Ronnie Møller" writerID="0" template="1051" nodeTypeAlias="Textpage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </Textpage>
  </Home>
</root>